<ng-container [ngSwitch]="currentStatus">
  <app-planning-step *ngSwitchCase="CreationStatus.PLANNING" [planningStep]="createPlanRequest.planningStep" (nextStepEmitter)="onNextStep()"></app-planning-step>
  <app-income-and-outcome-step *ngSwitchCase="CreationStatus.INCOME_AND_OUTCOME" [incomeAndOutcomeStep]="createPlanRequest.incomeAndOutcomeStep" (nextStepEmitter)="onNextStep()" (previousStepEmitter)="onPreviousStep()"></app-income-and-outcome-step>
  <app-financial-goals-step *ngSwitchCase="CreationStatus.FINANCIAL_GOALS" [financialGoals]="createPlanRequest.financialGoals" (nextStepEmitter)="onNextStep()" (previousStepEmitter)="onPreviousStep()"></app-financial-goals-step>
</ng-container>

