<h2 class="main-header">Your financial plan</h2>
<div class="main-content">
          <span class="create-plan" (click)="navigateToCreatePlan()">
            <span class="create-plan-plus">+</span> <span class="create-plan-text">Create plan</span>
          </span>
<div class="no-plan-message">
  <div>
    <img src="/assets/icons/business-3d-close-up-of-astonished-businesswoman-in-blue-suit.png">
  </div>
  <div class="message-text">
    <div>Oops, you haven't got financial plan yet.</div>
    <div class="navigation-link" (click)="navigateToCreatePlan()">Create one</div>
  </div>
</div>
</div>
