.wrapper {
  display: grid;
  grid-template: 0.07fr 1fr 0.05fr/1fr;
  height: 100%;
  width: 100%;
  font-family: "Kanit", sans-serif;
}

header {
  color: white;
  background-color: #111111;
  position: sticky;
  max-height: 200px;
}

.header-title {
  margin-left: 20px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Kanit", sans-serif;
}

.header-wrapper {
  display: grid;
  grid-template: 1fr/0.2fr 1fr 0.1fr;
}

.header-navigation {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr 1fr;
  margin-right: 800px;
  margin-left: 20px;
  grid-gap: 40px;
  align-items: center;
}

.navigation-element {
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.navigation-element:hover {
  font-weight: 600;
  font-size: 22px;
}

.header-logout {
  text-align: center;
  align-self: center;
  margin-left: 50px;
}

.header-logout img {
  display: inline;
  cursor: pointer;
}

.small-icon {
  width: 35px;
  height: 35px;
}

main {
  background-color: ghostwhite;
}

footer {
  color: white;
  background-color: #111111;
  text-align: center;
  align-self: center;
  height: 100%;
}
